html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  margin-left: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.btn-circle {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  text-align: center;
  background-color: #39a1f4;
  color: white;
  box-shadow: 1px 2px 1px 0px #888888;
  padding: 4px 0;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle:hover {
  background-color: #fafafa;
  color: black;
}

.btn-circle:focus {
  background-color: #fafafa;
  color: black;
}

.activeButton {
  background-color: #fafafa;
  color: black;
}

a {
  color: black!important;
  text-decoration: none!important;
}

.video {
  border-radius: 5px;
  display: table;
  padding-left: 5px;
}

.shortDiv {
  display: inline-block;
}

.video:hover {
  background-color: #ebebeb;
}

.containerr {
  padding-left: 3%;
}

.combinedUi {
  margin: 1% 0px 2% 0px;
}

.search-button {
  background-color: white;
  color: black;
  box-shadow: 1px 2px 1px 0px #888888;
  border-color: lightgray;
}

.search-button:hover {
  background-color: #fafafa;
  color: black;
  border-color: lightgray;
}

.video-player {
  float: right;
  display: table;
  margin-right: 8%;
}

.video-list {
  display: inline-block
}

.menu-bar {
  background-color: #c90900;
  height: 3em;
}

.logo {
  margin-top: 0.6em;
  margin-left: 1em;
  max-height: 1.75em;
}

.smallHeading {
  font-family: 'Open Sans', sans-serif;
  background-color: #c90900;
  margin: 0 1em 0 0;
  padding-top: 0.35em;
  font-size: 140%;
  font-weight: 200;
  float: right;
  color: white;
}

@media only screen and (max-width: 768px) {
  .video-player {
    float: left;
  }

  .smallHeading {
    font-size: 80%;
    margin: 0 0.5em 0 0;
    padding-top: 1.2em;
  }
}
